*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #ffd1d1;
}

h1,
h2 {
  font-size: 1.4em;
}

h1 {
  text-decoration: underline;
}

h2 {
  margin-top: 0;
}

textarea,
button,
input {
  font: inherit;
}

textarea {
  padding: 10px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  padding: 5px;
  border: solid #0000ff;
}

input:focus {
  background-color: #666;
  color: #fff;

  + .slider {
    box-shadow: 0 0 1px #222;
  }
}

a {
  color: inherit;

  &:hover {
    text-decoration: none;
  }
}

.dark {
  background-color: #222;
  color: #fff;

  .analysis__item {
    background-color: #002e00;
  }

  .analyze-button {
    border: 1px solid #fff;

    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;

  textarea {
    height: 200px;
    border: 4px solid #666;
    background-color: #333;
    color: #fff;
    font-size: 0.8rem;
    font-family: Consolas, monospace;
    border-radius: 10px;
  }
}

.button-container {
  display: inline-flex;
  justify-content: space-between;
  gap: 10px;
}

.analyze-button,
.empty-button {
  background-color: #666;
  color: #fff;
  padding: 5px 10px;
  width: 150px;
  border: 1px solid black;

  &:hover {
    background-color: transparent;
    color: #000;
  }

  &:disabled {
    opacity: 0.24;
    cursor: not-allowed;
    background-color: inherit;
    color: inherit;
  }
}

.analysis {
  display: none;
  flex-direction: column;

  &.show {
    display: grid;
    gap: 15px;
  }
}

.filter-list {
  list-style-type: none;
  padding: 0;
}

.analysis__item {
  display: none;
  padding: 10px;
  border: 2px solid #333;
  background-color: #d1ffd1;
  border-radius: 10px;

  &.show-item {
    display: grid;
  }
}

.frequencies-list {
  display: inline-flex;
  list-style-type: none;
  gap: 24px;
  padding: 0;
  input {
    width: 110px;
  }
}

.censured-text {
  margin-top: 10px;
}

.camel-case-text {
  word-wrap: break-word;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}

.slider.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}

input:checked + .slider {
  background-color: #222;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
